<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Login - Luna Express</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous"/>
</head>
<body>
<div class="login">
    <form action="/autenticar" method="post" style="max-width: 350px; margin: 0 auto;">
        <br><br>
        <p>Acceder a Luna Express</p>
        <p>
            <input type="text" name="username" class="form-control" placeholder="Username" required />
        </p>
        <p>
            <input type="password" name="password" class="form-control" placeholder="Password" required />
        </p>
        <p>
            <input type="submit" value="Login" class="btn btn-primary" />
            <input type="button" onclick="location.href='/products';" value="Cancel" class="btn btn-secondary"/>
        </p>
    </form>

</div>
</body>
</html>