# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Usuario\OneDrive - Pontificia Universidad Católica Madre y Maestra\Enero-Abril 2021\Programación Web\Practicas-Program.-web\Practica2-CRUD\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
